/* You need to create the rest of styles for the layout shown */

.choices {
    display: flex;
}

.options {
    flex-basis: 20%;
    margin: 0 2em;
    border: 1px dashed dodgerblue;
    padding: 1.5em 0em 1.5em 1.5em;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

